body {
	background: url('linedpaper.png');
	font-family: 'Raleway', sans-serif;
}

ul {
	list-style: none;
	padding-left: 0;
	margin: 6px;
}

a {
	text-decoration: none;
	color: #fe4365;
}

a:hover {
	background: #fe4365;
	color: #fff;
}


li {
	margin-bottom: 5px;
	font-size: 0.9em;
}

#content {
	width: 100%;
	max-width: 815px;
	margin: 0 auto;
}

/* GRID SETUP */
.box {
	/*border: 1px black solid;*/
	display: block;
	margin: 20px 0;
	position: relative;
	width: 100%;
	background: #fff;
}

.column {
	display: inline-block;
	position: relative;
	margin: 0 1.2%;
}

#firstcolumn, #thirdcolumn {
	max-width: 200px;
	width: 23%;
}

#thirdcolumn {
	float: right;
}

#firstcolumn {
	float: left;
}

#secondcolumn {
	max-width: 400px;
	width: 46%;
}

.box.row2.col2 {
	background: url('friendsville.jpg');
	background-size: cover;
	background-position: center;
}

/* some of these boxes have titles! */
.boxtitle {
	width: 100%;
	height: 40px;
	background: #FFBDD4;
}
.boxtitle h2 {
	margin: 0;
	padding: 0 5px;
	color: #fff;
	font-family: 'Cedarville Cursive', cursive;
	font-weight: normal;
}

/* THE CAROUSEL */
#carousel {
	overflow: hidden;
}

#carousel ul {
	padding: 0;
	margin: 0;
	width: 313%;
}

#carousel ul li {
	list-style: none;
	float: left;
	width: 32%;
}

#carousel ul li img {
	width: 100%;
}

/* image captions! */
.caption {
	position: absolute;
	bottom: 20px;
	background: #fe4365;
	color: #fff;
}

.caption h2 {
	margin: 4px;
	font-size: 0.9em;
	font-weight: normal;
}

/******* STYLING SPECIFIC BOXES ********/

/* block one stuff */
h1 {
	font-family: 'Cedarville Cursive', cursive;
	font-weight: normal;
	font-size: 4em;
	line-height: 120%;
	margin: 0;
	padding: 16px;
}

.row1.col1 {
	background: none;
}

/* block six stuff */
.row2.col3 h3,
.row2.col3 p {
	margin: 3px;
}

.row2.col3 h3 {
	font-size: 0.9em;
	font-weight: normal;
	margin-top: 8px;
}

.row2.col3 p {
	color: #83AF9B;
	font-size: 0.8em;
}

/* block nine stuff */
.row3.col3 ul {
	font-size: 0.9em;
}
